RUST_LOG=clipchan=info,bilive=info,sea_orm=warn,sqlx=warn

CLIPCHAN_PORT=3000
CLIPCHAN_DATABASE_URL=sqlite://./data/clipchan.db?mode=rwc
CLIPCHAN_TMP_DIR=./data/temp
CLIPCHAN_STORAGE__LOCAL__PATH=./data/clips